/* MAIN STYLE SHEET FOR PORTFOLIO SITE */

@import url('https://fonts.googleapis.com/css?family=Oswald:400,600|Roboto&display=swap');



li {
    list-style: none;
}

h3 {
    font-size: 1.5em;
    font-size: 2.8vmin;
}

.main-body {
    background: #270f4a;
    background: #091d34;
    background: #434244;
    background: #6e6d6e;
    background: #0f1210;
    margin: 0;
    color: #f5deb3;
    font-family: 'Roboto', sans-serif;
}

.home-section {
    height: 100vh;
    /* background: #093420;
    background: #0f1210d4;
    background: #6e6d6e; */
    /* -webkit-margin-bottom-collapse: discard; */
}

.name-box {
    width: 60%;
    height: max-content;
    background: #440101;
    background: #444101;
    background: #440101;
    position: relative;
    top: 20%;
    left: 1.7rem;
    color: #f5deb3;
}

.title-name {
    font-size: 7.5em;
    letter-spacing: 0.1em;
    font-size: 16vmin;
    /* font-family: 'Livvic', sans-serif;     */
    margin:0% auto;
    margin-left: 22%;
    font-weight: 700;
}

.intro-subtitle {
    font-size: 2.8em;
    letter-spacing: 0em;
    font-size: 5vmin;
    color: #f5deb3;
    position: relative;
    top: 20%;
    right: 0%;
    text-align: center;
}

.section-box {
    margin: 5% auto;
    padding-top: 0%;
    display: block;
}

.section-row {
    display: grid;
    grid-template-columns: 40% 10% 44%;
    column-gap: 3%;
    row-gap: 10%;
    margin: 16% 2%;
}

.about-section {
    display: flex;
    flex-direction: column;
    -ms-flex-direction: column;
}

.about-section p {
    font-size: 1.2rem;
    font-size: 2.8vmin;
}

.section-title {
    font-weight: 700;
    font-size: 4.5em;
    letter-spacing: 5px;
    font-size: 15vmin;
    margin: auto;
    margin-left: 10%;
    height: max-content;
    text-transform: uppercase;
}

.about-title {
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 4;
    margin-left: 5%;
}

.about-card {
    grid-row: 2;
    grid-column-start: 1;
    grid-column-end: 4;
}

.card-margin {
    margin-top: 10%;
    margin-left: 15%;
    margin-bottom: 10%;
}

.card-title {
    font-size: 5.1em;
    font-size: 11vmin;
    letter-spacing: 0px;
    text-transform: uppercase;
}

.skills-title {
    grid-row: 1;
    grid-column: 3;
    letter-spacing: 0px;
}

.core-title {
    grid-row: 1;
    grid-column: 1;
    letter-spacing: 0px;
    margin-left: 1rem;
}

.interests-title {
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 2;
    overflow-wrap: break-word;
    margin-left: 1rem;
}

.skills-card {
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 3;
    width: -webkit-fill-available;
    background: #444101;
    background: #440101;
    color: #f5deb3;
    margin-left: 0.6rem;
    font-size: 1.8em;
    font-size: 3.5vmin;
}

.items-list {
    padding-top: 10%;
    padding-left: 8%;
    padding-right: 5%;
}

.list-item {
    padding-bottom: 10%;
}

.skills-list {
    padding-left: 26%;
    padding-bottom: 10%;
    font-size: 1.6em;
    font-size: 5vmin;
    text-transform: uppercase;
}

.core-card {
    grid-row: 1;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;
    width: -webkit-fill-available;
    color: #f5deb3;
    font-size: 1.8em;
    font-size: 3.5vmin;
    background: #2f002b;
}

.core-list {
    font-size: 1.0em;
    font-size: 3.5vmin;
}

.interests-list {
    font-size: 1.4em;
    font-size: 3.0vmin;
}

.interests-card {
    grid-row: 1;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 4;
    background: #1c0142;
}

