/* MAIN STYLE SHEET FOR PORTFOLIO SITE */

/* @import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700|Roboto&display=swap'); */

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto&display=swap');

* {
    color: #000;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
}


li {
    list-style: none;
}

.main-body {
    background: #ffffff;
    margin: 0;
    color: #f5deb3;
    font-family: 'Roboto', sans-serif;
}


@media only screen and (min-width: 768px) {    
    .home-section {
        position: relative;
        height: 100vh;
        overflow: hidden;
    }
    
    .project-home {
        width: 100%;
        position: relative;
        display: grid;
        grid-template-columns: 50% 50%;
        font-size: 4.5em;
        font-size: 7vmin;
        overflow: hidden;
    }
    
    .hero-right {
        /* background: #f5deb3; */
    }
    
    .hero-right .project-img {
        height: 150%;
        width: 100%;
        object-fit: cover;
        object-position: 40% 50%;
        filter: sepia(1);
    }
    
    .hero-left {
        margin: auto;
    }
    
    .project-heading {
        color: #000;
        margin: auto;
        margin-left: 5%;
        overflow-wrap: break-word;
        max-width: 600px;
    }
    
    .project-title {
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 85%;
    }

    .project-subtitle {
        font-size: 40%;
    }

    .project-details {
        display: flex;
        background: #616161;
        background: #f1f0ec;
        background: #ed403a;
    }

    .info-column {
        width: 90%;
        width: 35%;
        margin: 2% 5%;
        font-size: 22px;
        line-height: 1.8rem;
    }

    .main-info {
        width: 100%;
        margin: 2% 5%;
    }

    .info-column h3 {
        color: #000;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 100%;
    }

    .info-column .descr-text {
        overflow-wrap: normal;
        color: #fff;
        font-size: 90%;
    }

    .info-column .tech-text {
        font-weight: 700;
    }

    .project-previews {
        width: 100%;
        background: #000;
        /* height: max-content; */
    }

    .img-slider {
        width: 95%;
        display: -webkit-box;
        -webkit-box-align: center;
        overflow-x: scroll;
        margin: auto;
        padding: 5% 0;
    }

    .img-card {
        width: 45%;
        margin: auto 5%;
        /* height: 100%; */
        /* height: auto; */
    }

    .img-card img {
        width: 100%;
        height: auto;
        margin: auto 2%;
    }

}









































/* .name-box {
    width: 60%;
    height: max-content;
    background: #440101;
    background: #444101;
    background: #440101;
    background: #1c035c;
    position: relative;
    top: 20%;
    left: 1.7rem;
    color: #f5deb3;
}

.title-name {
    font-size: 7.5em;
    letter-spacing: 0.1em;
    font-size: 12vmin;
    margin:0% auto;
    margin-left: 22%;
    font-weight: 700;
}

.intro-subtitle {
    font-size: 2.8em;
    letter-spacing: 0em;
    font-size: 5vmin;
    color: #f5deb3;
    position: relative;
    top: 20%;
    right: 0%;
    text-align: center;
}

.section-box {
    margin: 5% auto;
    padding-top: 0%;
    display: block;
}

.section-row {
    display: grid;
    grid-template-columns: 40% 10% 44%;
    column-gap: 3%;
    row-gap: 10%;
    margin: 15% 2%;
}

.about-section {
    display: flex;
    flex-direction: column;
    -ms-flex-direction: column;
}

.project-section {
    display: flex;
    flex-direction: column;
    -ms-flex-direction: column;
}

.about-section p {
    font-size: 1.2rem;
    font-size: 2.8vmin;
}


.about-title {
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 4;
    margin-left: 5%;
    margin-top: 0%;
}

.about-card {
    grid-row: 2;
    grid-column-start: 1;
    grid-column-end: 4;
}

.card-margin {
    margin-top: 10%;
    margin-left: 15%;
    margin-bottom: 10%;
}

.card-title {
    font-size: 5.1em;
    font-size: 11vmin;
    letter-spacing: 0px;
    text-transform: uppercase;
}

.skills-title {
    grid-row: 1;
    grid-column: 3;
    letter-spacing: 0px;
}

.core-title {
    grid-row: 1;
    grid-column: 1;
    letter-spacing: 0px;
    margin-left: 1rem;
}

.interests-title {
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 2;
    overflow-wrap: break-word;
    margin-left: 1rem;
}

.skills-card {
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 3;
    width: -webkit-fill-available;
    background: #444101;
    background: #440101;
    color: #f5deb3;
    margin-left: 0.6rem;
    font-size: 1.8em;
    font-size: 3.5vmin;
}

.items-list {
    padding-top: 10%;
    padding-left: 8%;
    padding-right: 5%;
}

.list-item {
    padding-bottom: 10%;
}

.skills-list {
    padding-left: 26%;
    padding-bottom: 10%;
    font-size: 1.6em;
    font-size: 5vmin;
    text-transform: uppercase;
}

.core-card {
    grid-row: 1;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;
    width: -webkit-fill-available;
    color: #f5deb3;
    font-size: 1.8em;
    font-size: 3.5vmin;
    background: #100c29;
}

.core-list {
    font-size: 1.0em;
    font-size: 3.5vmin;
}

.interests-list {
    font-size: 1.4em;
    font-size: 3.0vmin;
}

.interests-card {
    grid-row: 1;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 4;
    background: #051215;
}

.project-container {
    display: flex;
    flex-wrap: wrap;
    width: 94%;
    margin: auto;
}

.project-container > * {
    flex: 1 1 240px;
    margin: 20px;
    padding: 25px;
    background: #000;

}

.project-card {
    display: grid;
    grid-template-columns: 90%;
    justify-content: center;
}

.project-thumbnail .project-img{
    width: 100%;
    height: auto;
    filter: grayscale()
}


.link-button {
    text-decoration: none;
    margin: 0 auto;
}

.arrow-link {
    width: 98%;
    height: auto;
    margin: 2% auto;
    margin-bottom: 0%;
}

.links-container {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: flex-end;
}

.more-link {
    width: 15%;
    height: auto;
}

.link-box {
    color: #f5deb3;
} */
